body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/5_background/desert-7190568_1920.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
    position:relative;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.mute-overlay {
    display: block;
}

.mute-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 4px;
    background-color: red;
    transform: rotate(-45deg);
    border-radius: 10px;
}

.d-none {
    display: none !important;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
}

.game-over-screen img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 16px;
}

.game-over-screen button {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 32px;
    width: 30%;
    height: 10%;
    background-color: #ffc100;
    border-style: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.game-over-screen button:hover {
    transform: scale(1.1);
}

.canvas-container {
    position: relative;
    display: inline-block;
}

canvas {
    background-color: black;
    display: block;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-size: 720px 480px;
    z-index: 1001;
}

.start-screen img {
    width: 100%;
    height: 100%;
}

.start-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    gap: 20px;
}

.start-screen-btn {
    width: 160px;
    height: 40px;
    display: flex;
    border-style: none;
    border-radius: 10px;
    background-color: #ffa503;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    transition: transform 0.2s ease;
}

.start-screen-btn:hover {
    transform: scale(1.1);
}

.start-screen-btn img {
    width: 100%;
    height: 100%;
}

.description{
    font-size: 24px;
}

.fullscreen-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
}

.fullscreen-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

.mute-btn {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
    padding: 2px;
}

.mute-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5)
}

.control-container {
    display: flex;
    gap: 20px;
    font-size: 40px;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
}

.control-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

.control-content img {
    height: 40px;
    width: 40px;
}

.span-d {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer button{
    border-style: none;
    background: transparent;
}


#rotate-overlay {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 9999;
    text-align: center;
}

.mobile-btn-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
}

.mobile-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    /*rgba(192, 187, 187, 0.4);*/
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 20px;
    touch-action: none;
    user-select: none;
}

.mobile-btn img {
    height: 70%;
    width: 70%;
}

.modal-impressum{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}
.content-impressum{
    background: #fff;
    border-radius: 16px;
    padding: 64px 48px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    max-width: 720px;
    width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.content-impressum::-webkit-scrollbar{
    display:none;
}

.close-modal-btn{
    position: absolute;
    right: 40px;
    top:40px;
    font-size: 36px;
    width: 40px;
    height: 40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
}

.close-modal-btn:hover{
    background: rgba(210,210,210,0.5);
}


.close-modal-btn img{
    width: 80%;
    height: 80%;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height:100vh;
        width: 100vw;
    }
    .start-screen{
        background-size: cover;
    }

    h1 {
        display: none;
    }

    footer{
        position: absolute;
        bottom: 0;
        z-index: 9999;
    }

    .fullscreen-btn{
        display:none;
    }

    
}


@media (any-pointer: coarse) and (orientation: portrait) {
    #rotate-overlay {
        display: flex;
    }

    .canvas-container {
        display: none;
    }
}

@media (any-pointer: coarse) and (orientation: landscape) {
    .mobile-btn-container {
        display: flex;
    }


    .control-container{
        display:none;
    }


    #rotate-overlay {
        display: none;
    }
    .fullscreen-btn{
        display:none;
    }
}