body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/5_background/desert-7190568_1920.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

canvas{
    background-color: black;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 6px 6px 4px rgba(0,0,0,0.5)
}