body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/5_background/desert-7190568_1920.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin:0;
}

.canvas-container {
    position: relative;
    display: inline-block;
}

canvas{
    background-color: black;
    display:block;
}

.start-screen{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-size: 720px 480px;
    z-index: 1001;
}
.start-screen img{
    width: 100%;
    height: 100%;
}

.start-screen-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
}

.start-screen-btn{
    width: 160px;
    height: 40px;
    display: flex;
    border-style: none;
    border-radius: 10px;
    background-color: #ffa503;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.start-screen-btn img{
    width: 100%;
    height: 100%;
}

.fullscreen-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
}
.fullscreen-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

.mute-btn{
    position: absolute;
    right: 15px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
}
.mute-btn img{
    width: 100%;
    height:100%;
    object-fit: contain;
    background: transparent;
    z-index: 9000;
}

h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 6px 6px 4px rgba(0,0,0,0.5)
}

.control-container{
    display: flex;
    gap: 20px;
    font-size: 40px;
    justify-content: space-between;
    width: 720px;
}
.control-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

.control-content img{
    height: 40px;
    width: 40px;
}

.span-d{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
    h1{
        display:none;
    }
}